<h1><%= @product.name %></h1>
<h4><%= @product.average_rating %> / 5</h4>

<h5><%= number_to_currency(@product.price/100.0) %></h5>

<%= link_to edit_product_path(@product) do %>

<div class="edit-box">
  <div class="circle"></div>
</div>

<% end %>

<p><%= link_to 'DESTROY', @product, method: :delete,
              data: { confirm: 'Are you sure?' } %></p>

<% @product.reviews.each do |review|%>
  <h5><%= review.user.full_name %> <%= time_ago_in_words(review.created_at) %></h5>
  <p><%= review.review_text %></p>
  <p>Rating: <%= review.rating %></p>
<%end%>
